* {
    box-sizing: border-box;
}

body {
    background: #111;
   
}

#carouselExampleCaptions {
    width: 100%; /* Puedes ajustar el ancho del carrusel aquí */
    max-height: 500px;
}

    #carouselExampleCaptions img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

